# Auto detect text files and perform LF normalization
* text=auto

# just in case
DBLoader CMake/sqlite_amalgamation/** linguist-vendored
DBLoader CMake/include/** linguist-vendored
DBLoader CMake/QXlsx-master/** linguist-vendored

"DBLoader CMake"/sqlite_amalgamation/** linguist-vendored
"DBLoader CMake"/include/** linguist-vendored
"DBLoader CMake"/QXlsx-master/** linguist-vendored

DBLoader%20CMake/sqlite_amalgamation/** linguist-vendored
DBLoader%20CMake/include/** linguist-vendored
DBLoader%20CMake/QXlsx-master/** linguist-vendored